# Build binaries & packages
/sec
/sec-agent
/dist/
sec_test_bin
sec_migration_test_bin
sec_migration_test_bin2
.logs/

# Sockets and environment databases
*.sock
*.enc
*.kdbx

# IDEs & System
.idea/
.vscode/
*.code-workspace
.DS_Store
.arjan/

# Internal private documentation
docs/internal/

.logs/resumer-debug.log
.logs/resumer-history.md
